<section class="about container">
    <h1 class="text">About</h1> 
    <h2>A broad selection of courses</h2>
    <h3>Choose from over 210,000 online video courses with new additions published every month</h3>
    <p>
        Udemy, Inc. is an education technology company that provides an online learning and teaching platform. It was founded in May 2010 by Eren Bali, Gagan Biyani, and Oktay Caglar.
    </p>
    <p>There are more than 14,900 Udemy Business customers, and more than 50% of the Fortune 100 are Udemy Business customers. Udemy Business customers have access to more than 24K courses, out of which more than 10.5K are in English and more than 13.5K are in 14 international languages.</p>
    <p>Students take courses primarily to improve job-related skills. Some courses generate credit toward technical certification. Udemy attracts corporate trainers seeking to create coursework for employees of their company.</p>
</section>

<div class="follow text-center">
    <a href="https://www.facebook.com/udemy/">Facebook</a>
    <a href="https://www.instagram.com/udemy/?hl=en">Instagram</a>
    <a href="https://twitter.com/udemy?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">Twitter</a>
</div>